
.kaos{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    height: 97vh;
    background-color: gray

}
.nyx{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
}
.thanatos{
    height: 13vh;
    width: 13vh;
    background-color: darkslateblue;
}
.hypnos{
    height: 13vh;
    width: 40vw;
    background-color: white;
}
.moros{
    height: 13vh;
    width: 13vh;
    background-color: tomato;
}
.gaia{
    display: flex;
    height: 154vh;
 
    background-color: brown;
   
}
.uranos{
    display: flex;
    width: 21vw;
    height: 154vh;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
}

.containerCategories{
    width: 11vw;
    height: 60vh;
    background-color: pink;
    
}
.kat1{
    width: 11vw;
    height: 10vh;

    outline: 2px solid black;
}
.hyperion{
    width: 21vw;
    height: 154vh;
    background-color:cornflowerblue;
}
.kronos{
    width: 68vw;
    height: 154vh;
    background-color: black;
}
.hera{
    width: 68vw;
    height: 42vh;
    background-color: goldenrod;
}
.zeus{
    width: 68vw;
    height: 112vh;
    background-color: yellow;
}
.artemis{
    height: 60vh;
    background-color: darkgreen;
}
